.banner{
  padding: 180px 0 440px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .socials{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    span{
      overflow:hidden;
      position: relative;
      width: 58px;
      height: 58px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: rgba(0,0,0,0.5);
      img{
        transition: ease-out 300ms;
        opacity: 0.6;
        z-index: 2;
      }
      &:hover{
        img{
          transition: ease-out 300ms;
          opacity: 1;
        }
      }
      &::after{
        z-index: 1;
        border-radius: 50%;
        position: absolute;
        content: '';
        display: block;
        background: #22B2EA;
        top: -10%;
        width: 10%;
        height: 10%;
        transition: ease-in-out 300ms;
      }
      &:hover::after{
        top:0;
        transition: ease-in-out 300ms;
        width: 200%;
        height: 100%;
      }
    }
  }
  .text-button{
    color: white;
    text-align: center;
    max-width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
    h1{
      text-shadow: 0 0 20px rgba(0, 0, 0, 1);
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 55px;
      text-transform: uppercase;

    }
    a{
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      background: $pussy-girl;
      padding: 21px 63px;
      color: white;
      border-radius: 0 30px;
    }
  }
}