.idea{
  margin-top: 280px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .idea-item{
    margin-bottom: 1em;
    text-align: center;
    max-width: 208px;
    .image{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1em;
      width: 100%;
      height: 100px;
    }
  }
}

.bg-3{
  background-image: url("../img/bg3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.bg-2{
  background-image: url("../img/bg2.png");
  background-repeat: no-repeat;
  width: 100%;
  .block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 230px 0;
    gap: 100px;
    flex-wrap: wrap;
    width: 100%;
    .image {
      img{
        max-width: 407px;
        max-height: 407px;
        padding: 10px;
        border-radius: 50%;
        border: 1px dashed #A1A2AD;
      }
    }
    .text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 30px;
      width: 60%;
      h1{
        text-align: start;
      }
      p{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}

.catalog-item{
  margin-top: 68px;
  display: flex;
  justify-content: space-between;

  .item{
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 25px;
    span{
      top: -5%;
      left: 2%;
      z-index: 0;
      position: absolute;
      border-radius: 50%;
      width: 233px;
      height: 233px;
      background: rgba(66, 68, 90, 0.1);
    }
    img{
      z-index: 1;
    }
    .text{
      height: 280px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 1;
      width: 296px;
      .text_box{
        display: flex;
        flex-direction: column;
        gap: 17px;
      }
      h1{
        color: #42445A;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
      }
      p{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
      }
    }
  }
}
.title{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #42445A;
}