.feedback {
  margin-top: 90px;
  .slider{
    position: relative;
    margin-top: 90px;
    margin-bottom: 120px;
  }
  .feedback_reg {
    width: 1266px;
    margin: 0 auto;
  }

  .arrows {
    padding: 0 20px ;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .btn_custom_next,
    .btn_custom_prev {
      cursor: pointer;
      background: none;
      display: block;
      width: 30px;
      height: 30px;
    }
  }

  .slick-slide {
    width: 406px;
    height: 248px;
    position: relative;
    margin: 0 4px 0 0;
    .image-preview-block{
      z-index: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      display: block;
      margin: 0 auto;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .text-block{
      background: rgba(20, 23, 34, 0.4);
      padding: 20px;
      position: relative;
      height: 100%;
      z-index: 1;
      color: white;
      display: flex;
      align-items: center;
      h1{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
      }
      p{
        margin-top: 10px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;

      }
    }
  }

  .btn_custom_next {
    border-right: 2px solid #ACADB7;
    border-bottom: 2px solid #ACADB7;
    transform: rotate(-45deg);
  }

  .btn_custom_prev {
    border-left: 2px solid #ACADB7;
    border-bottom: 2px solid #ACADB7;
    transform: rotate(45deg);
  }
}

