.icon-search{
  background: url("../img/icon/search.png");
  width: 17px;
  height: 17px;
  display: block;
}
.icon_back{
  background: url("../img/icon/back.png");
  width: 16px;
  height: 29px;
  display: block;
}
.icon_phone{
  background: url("../img/icon/phone.png");
  width: 21px;
  height: 23px;
  display: inline-block;
}
.icon_burger{
  background: url("../img/icon/burger.png");
  width: 29px;
  height: 18px;
}