
.mobile_menu_header{
  background: rgba(0, 0, 0, 0.6);
  padding: 17px 26px;
  display: none;
  justify-content: space-between;
  align-items: center;
  .search{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mobile_menu {
  transition: ease-in-out 500ms;
  display: flex;
  z-index: 999;
  left: -100%;
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(5px);
  width: 90vw;
  height: 100%;
  position: fixed;
  padding: 22px 32px;
  align-items: flex-start;
  flex-direction: column;
  gap: 2em;

  .buy_phone {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #A1A2AD;
    text-transform: uppercase;
    font-size: 16px;
  }

  .back {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.8em;

    li {
      h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #22B2EA;
      }

      a {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
      }
    }
  }

  .hr {
    width: 100%;
    display: block;
    background: #ACADB7;
    height: 2px;
  }

}

.mobile_menu_active {
  transition: 500ms;

  left: 0;

  display: flex;
}