.tour {
  margin: 0 auto;

  .regular {
    width: 1200px;
    margin: 0 auto;

    img {
      max-width: 268px;
      max-height: 268px;
      width: 100%;
      display: block;
      margin: 0 auto;
    }
  }

  .slider_block {
    margin-top: 40px;
    margin-bottom: 113px;
    position: relative;
    z-index: 1;
  }

  .arrows {
    padding: 0 40px;
    z-index: -1;
    position: absolute;
    width: 100%;
    left: 0;
    top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 268px;

    .btn_custom_next,
    .btn_custom_prev {
      cursor: pointer;
      background: none;
      display: block;
      width: 30px;
      height: 30px;
    }
  }

  .btn_custom_next {
    border-right: 2px solid #ACADB7;
    border-bottom: 2px solid #ACADB7;
    transform: rotate(-45deg);
  }

  .slick-slide {
    z-index: 1;
    padding: 80px 0;
    margin: 0 0;
    position: relative;
    .image-preview-block {

      position: relative;

      .slide-image-preview {
        width: 268px;
        height: 268px;
        border-radius: 50%;
      }

      li{
        font-size: 20px;
        opacity: 0;
        height: 43px;
        width: 43px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #D7B5A1;
        border-radius: 50%;
        position: absolute;
        top: calc(50% - 22px);
        left: 45%;
        z-index: -1;
        transform-origin: 220px;
        transform: rotate(0);
        transition: ease-in-out 500ms;
        transition-delay: calc(100ms * var(--i));
        div{
          transform: rotate(calc(90deg / -3 * var(--i)));
          transition: ease-in-out 500ms;
          transition-delay: calc(100ms * var(--i));
        }
        a{
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 22.3448px;
          line-height: 30px;
          color: white;
        }
        p{
          left: 50%;
          position: absolute;
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 600;
          color: #8C8C8C;
          font-size: 12px;
          bottom: -20px;
          transform: translateX(-50%);
          transition: ease-in-out 500ms;
          transition-delay: calc(100ms * var(--i));
        }
      }

      .icon-type {
        z-index: 1;
        bottom: 0;
        right: 22%;
        position: absolute;
        background: #42445A;
        height: 60px;
        width: 60px;
        padding: 13px;
        border-radius: 50%;
      }
    }
    &:hover{
      li {
        opacity: 1;
        transition: ease-in-out 500ms;
        top: calc(50% - 22px);
        left: -20px;
        z-index: -1;
        transform-origin: 210px;
        transform: rotate(calc(90deg / 3 * var(--i)));
        transition-delay: calc(100ms * var(--i));
        div{
          color: white;
          transform: rotate(calc(90deg / -3 * var(--i)));
          transition: ease-in-out 500ms;
          transition-delay: calc(100ms * var(--i));
        }
      }
    }


    .text-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
        font-family: 'Montserrat', sans-serif;
        color: #42445A;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin-top: 28px;
      }

      p {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        display: block;
        color: white;
        border-radius: 10px;
        padding: 10px;
        background: #42445A;
        margin-top: 6px;
      }
    }
  }

  .btn_custom_prev {
    border-left: 2px solid #ACADB7;
    border-bottom: 2px solid #ACADB7;
    transform: rotate(45deg);
  }
}